#header {
  text-align: center;
  color: whitesmoke;
  background-image: linear-gradient(purple, cyan);
  height: 100vh;
  font-family: "Moulpali", serif;
  width: 100%;
  margin: 10px;
}

#about {
  color: whitesmoke;
  text-align: center;
  background-image: linear-gradient(rebeccapurple, cyan);
  height: 100vh;
  margin: 50px;
  font-family: "Moulpali", serif;
}

#myCarousel {
  background-image: linear-gradient(lightblue, pink);
  height: 60%;
  width: 80%;
  margin: auto;

}
#ff-compose{
  background-color: pink;
}
.button {
  background-color: #04AA6D;
  border: none;
  color: white;
}

#MyButton{
  background-color: purple;
}